/* 연두색 글씨 color: #E4F7BA */
/* 노란색 글씨 color : #ECA50E */
/* 검정색 글씨 진하게 : border: 2px solid #000000*/
/* 중연한 갈색 배경  : background-color : #6D211C*/
/* 진한 갈색 배경 : background-color: #3F1816; */

#joinModal {
	background-color: #502228;
	padding: 5% 5%;
}

#modal-title{
	color: #ECA50E;
	text-align:center;
}

#idTitle{
	color: #ECA50E;
}

#userEmail1{
	border: 2px solid #000000;
	background-color: #3F1816;
	color: #E4F7BA;
}

#userEmail2{
	border: 2px solid #000000;
	background-color: #3F1816;
	color: #E4F7BA;
}

#select_email{
	border: 2px solid #000000;
	background-color: #3F1816;
	color: #E4F7BA;
}

#pw{
	border: 2px solid #000000;
	background-color: #3F1816;
	color: #E4F7BA;
}

#pwTitle{
	color:#ECA50E;
}

#checkPw{
	border: 2px solid #000000;
	background-color: #3F1816;
	color: #E4F7BA;
}

#checkPwTitle{
	color:#ECA50E;
}

#userName{
	border: 2px solid #000000;
	background-color: #3F1816;
	color: #E4F7BA;
}

#nameTitle{
	color:#ECA50E;
}


