#roomModalContent{
	background-color: #502228;
}


#RoomName{
	border: 2px solid #000000;
	background-color: #3F1816;
	color: #E4F7BA;
}

#roomIdTitle{
	color: #ECA50E;
}


/* .selectbox{
	display: none;
	margin: 0;
} */

/* .label{
	margin: 0;
	padding: 0;
} */

.typeImg{
	width: 125px;
	height: 125px;
	border: 2px solid #000000;
}

.boundary{
	border: 2px solid #EFF482;
}
