/* id */

#round{
	width: 570px;
	height: 70px;
	color: #FFFFFF;
	font-size: 50px;
	text-align: center;
}

#connectionStatus{
	width: 375px;
	height: 100px;
	text-align: center;
}

#playerA, #playerB{
	width: 95px;
	height: 40px;
	color: #CEFBC9;
	background-color: #3F1816;
	text-align: center;
}

#scoreA, #scoreB{
	width: 95px;
	height: 86px;
	font-size: 45px;
	color: #ECA50E;
	background-color: #6D211C;
	text-align: center;
}

#selected{
	width: 375px;
	height: 40px;
	color: #ECA50E;
	background-color: #3F1816;
	text-align: center;
}

#broadcast{
	width: 375px;
	color: #CEFBC9;
	background-color: #6D211C;
}

/* class */

.game{
	width: 580px;
    height: 800px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -290px;
    margin-top: -400px;
}

.title-box{
	width: 570px;
	
	display: flex;
	overflow: auto;
	justify-content: center;
}

.round-box{
	width: 570px;
	display: flex;
	overflow: auto;
	justify-content: center;
}

.problem-box{
	width: 570px;
	display: flex;
	overflow: auto;
	justify-content: center;
}

.event-box{
	width: 570px;
	display: flex;
	overflow: auto;
	justify-content: center;
}

.battle-box{
	width: 570px;
	display: flex;
	overflow: auto;
	justify-content: center;
}



.answer{
	width: 95px;
	height: 375px;
	list-style: none;
	color: #CEFBC9;
	background-color: #6D211C;
	font-size: 25px;
	text-align: center;
}

.select{
	width: 125px;
	height: 125px;
	margin: 0;
	padding: 0;
}

.card{
	width: 100%;
	height: auto;
}


.uni, .on, .ready{
	width: 95px;
	height: 125px;
	font-size: 35px;
	color: #E4F7BA;
	background-color: #6D211C;
	text-align: center;
}



/* tag */
/* 
input{
	width: 100%;
	margin: 0;
	padding: 0;
} */

/* test */
div{
 	/* border: 1px solid gold */
}