#findModalContent {
	background-color: #502228;
}

#idTitle{
	color: #ECA50E;
}

#findPwEmail1{
	border: 2px solid #000000;
	background-color: #3F1816;
	color: #E4F7BA;
}

#findPwEmail2{
	border: 2px solid #000000;
	background-color: #3F1816;
	color: #E4F7BA;
}

#select_email2{
	border: 2px solid #000000;
	background-color: #3F1816;
	color: #E4F7BA;
}