/* 연두색 글씨 color: #E4F7BA */
/* 노란색 글씨 color : #ECA50E */
/* 검정색 글씨 진하게 : border: 2px solid #000000*/
/* 중연한 갈색 배경  : background-color : #6D211C*/
/* 진한 갈색 배경 : background-color: #3F1816; */

body{
	background-color: #502228;
}

/* id */
#loginHome{
	display:flex;
	width: 1600px;
	height: 800px;
	justify-content:center;
	background-color: #502228;
}
#loginFrame{
	
	justify-content:center;
	
}

#title{
	margin-top:80px;
	text-align:center;
	color:#ECA50E;
}

#loginDiv{
	text-align:center;
	margin-top:50px;
	background-color: #502228;
}

#loginProc{
	text-align:center;
}

.loginDiv{
	margin-left:80px;
}

#email{
	width:300px;
	margin-top:30px;
	border: 2px solid #000000;
	background-color: #3F1816;
	color: #E4F7BA;
}

#password{
	width:300px;
	border: 2px solid #000000;
	background-color: #3F1816;
	color: #E4F7BA;
}

#checkbox{
	margin-top:10px;
	margin-right:210px;
	color:#ECA50E;
}


#loginBtn{
	width:300px;
	border: 2px solid #000000;
	background-color: #3F1816;
	color: #E4F7BA;
}

#regiBtn{
	border: 2px solid #000000;
	background-color: #3F1816;
	color: #E4F7BA;
}

#findId{
	border: 2px solid #000000;
	background-color: #3F1816;
	color: #E4F7BA;
}

#findPw{
	border: 2px solid #000000;
	background-color: #3F1816;
	color: #E4F7BA;
}

#snsBtns{
	text-align:center;
}


#loginBtns{
	margin-top:40px;
	margin-bottom:40px;
	text-align:center;
}

#logout{
	background-color: #3F1816;
	color: #E4F7BA;
	width:130px;
	margin-right:15px;
	text-align:center;
}









