#body{
	color: #ECA50E;
}

#pageDiv{
	margin-left:170px;
	justify-content : center;
}

#pageNum{
	color: #E4F7BA;
	background-color: #3F1816;
	border: 2px solid #000000;
}

#prevBtn{
	color: #E4F7BA;
	background-color: #3F1816;
	border: 2px solid #000000;
}

#nextBtn{
	color: #E4F7BA;
	background-color: #3F1816;
	border: 2px solid #000000;
}

