<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.deathmatch.geniouse.mapper.MemberMapper">

	<!-- 일반 유저 가입하기 -->
    <insert id ="insertMember">
        insert into tbl_user(userEmail,userId,pw,name)
        values
        (#{userEmail},#{userId},#{pw},#{name});
    </insert>
    
    <!-- SNS 유저 가입하기 -->
    <insert id ="insertSnsMember">
    insert into tbl_user (userEmail,userId,name,auth)
        values
        (#{userEmail},#{userId},#{name},1);
    </insert>
    
    <!-- 비밀번호 체크하기 -->
	<select id="checkPw" resultType="String">
		SELECT
		    pw
		FROM
		    tbl_user
		WHERE
		    userEmail = #{userEmail}
	</select>
    
    <!-- 비밀번호 변경하기 -->
    <update id ="changePw">
    	update 
    	tbl_user
    	set
    	pw = #{pw}
  		where userEmail = #{userEmail}
    </update>
    
    <!-- 유저수 체크하기 -->
    <select id ="countUser" resultType="int">
    	select count(*) from tbl_user
    	where userEmail = #{userEmail};
    </select>

	<!-- 유저 이메일 체크하기 -->
    <select id = "checkUserEmail" resultType="UserDTO">
        select userEmail from tbl_user
        where userEmail = #{userEmail};
    </select>
    
    <!-- 유저 조회 하기 -->
    <select id ="selectMember" resultType="UserDTO">
        select userEmail,pw,userId,name
        from tbl_user
        where userEmail = #{userEmail};
    </select>

	<!-- 로그인 하기 -->
    <select id = "login" resultType ="UserDTO">
        select userEmail,userId,name
        from tbl_user
        where userEmail = #{userEmail} and pw = #{pw};
    </select>

</mapper>
