<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.deathmatch.genius.mapper.SuggestionBoardMapper">

	<insert id ="insert">
		insert into tbl_suggestion_board(userId,title,content,ref,pw)
		values(#{userId},#{title},#{content},#{ref},#{pw})
	</insert>
	
	<delete id ="delete">
		delete from tbl_suggestion_board
		where bno = #{bno}
	</delete>
	
	<update id ="update">
		update 
			tbl_suggestion_board
		set
			title = #{title},
			content = #{content},
			pw = #{pw}
		where 
			bno = #{bno}
	</update>
	
	<select id ="read" resultType ="SuggestionBoardDTO">
		select
			bno,userId,title,content,regdate,hit,depth,step,pno,pw
		from 
			tbl_suggestion_board
		where
			bno = #{bno}
	</select>
	
	<select id="listAll" resultType="SuggestionBoardDTO">
		select 
			bno,userId,title,content,regdate,hit
		from
			tbl_suggestion_board
		where bno > 0
		order by bno desc, regdate desc
	</select>
	
	<select id ="getListWithPaging" resultType ="SuggestionBoardDTO">
		<![CDATA[
		select
			bno,userId,title,content,regdate,hit
		from
			tbl_suggestion_board
		where 
			bno > 0
		]]>
			<include refid="search"/>
		<![CDATA[
		order by bno desc, regdate desc
		limit #{pageStart}, #{perPageNum}
		]]>
	</select>
	
	<select id="countList" resultType ="int">
		select 
			count(*)
		from
			tbl_suggestion_board
		where
			bno > 0
		<include refid="search"/>
	</select>
	
	<update id ="increaseViews">
		update
			tbl_suggestion_board
		set
			hit = hit + 1
		where
			bno = #{bno}
	</update>
	
	<sql id ="search">
		<if test ="type != null">
			<if test="type == 'T'.toString()">
				AND title LIKE CONCAT('%',#{keyword},'%')
			</if>
			<if test="type == 'C'.toString()">
				AND content LIKE CONCAT('%',#{keyword},'%')
			</if>
			<if test ="type == 'W'.toString()">
				AND userId LIKE CONCAT('%',#{keyword},'%')
			</if>
		</if>
	</sql>
	
	<sql id="criteria">	
		<trim prefix="(" suffix=") AND" prefixOverrides="OR">
			<foreach item="type" collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							title LIKE CONCAT('%',#{keyword},'%')
						</when>
						<when test="type == 'C'.toString()">
							content LIKE CONCAT('%',#{keyword},'%')
							<!-- content like '%' || #{keyword} || '%'  -->
						</when>
						<when test="type == 'W'.toString()">
							userId LIKE CONCAT('%',#{keyword},'%')
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>
	
	<insert id ="insertReply">
		insert into tbl_suggestion_reply_board
		values(#{bno},#{userId},#{content})
	</insert>
	
	<delete id ="deleteReply">
		delete from tbl_suggestion_reply_board
		where bno = #{bno}
	</delete>
	
	<select id ="getReplyList" resultType ="SuggestionReplyDTO">
		select rno,bno,userId,content,regdate
		from tbl_suggestion_reply_board
		where bno = #{bno}
		order by rno desc
	</select>
</mapper>
