<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.deathmatch.genious.mapper.UnionSettingMapper">
    
    <select id="makeProblem" resultType="UnionCardDTO">
    	select *
    	from tbl_union_card
    	order by rand()
    	limit 9;
    </select>
    
    <select id ="selectProblemEach" resultType="UnionCardDTO">
        select *
        from tbl_union_card
        where name = (
        	select card
        	from tbl_union_problem
        	where gameId = #{gameId} and round = #{round} and idx = #{idx}
        );
    </select>
    
    <insert id ="insertProblem">
        insert into tbl_union_problem(gameId,round,idx,card)
        values (#{gameId},#{round},#{idx},#{card});
    </insert>
    
    <insert id="insertAnswer">
    	insert into tbl_union_answer
    	values (#{gameId},#{round},#{card});
    </insert>
    
</mapper>
