<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.deathmatch.genius.mapper.UnionLoadingMapper">
    
    <select id ="selectProblem" resultType="String">
        select card
        from tbl_union_problem
        where gameId = #{gameId} and round = #{round};
    </select>
    
    <select id="selectAnswerSheet" resultType="String">
    	select answer
    	from tbl_union_submitted_answer
    	where gameId = #{gameId} and round = #{round} and score = 1;
    </select>
    
</mapper>
