<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.deathmatch.genious.mapper.UnionSettingMapper">

	<!-- <select id ="selectAllCard" resultType="UnionCardDTO">
        select *
        from tbl_union_card;
    </select> -->
    
    <select id="makeProblem" resultType="UnionCardDTO">
    	select *
    	from tbl_union_card
    	order by rand()
    	limit 9;
    </select>
    
    <select id ="selectProblemEach" resultType="UnionCardDTO">
        select *
        from tbl_union_card
        where name = (
        	select card
        	from tbl_union_problem
        	where gameId = #{gameId} and round = #{round} and idx = #{idx}
        );
    </select>
    
    <insert id ="insertProblem">
        insert into tbl_union_problem(gameId,round,idx,card)
        values (#{gameId},#{round},#{idx},#{card});
    </insert>
    


    <insert id ="insertMember">
        insert into tbl_user(userEmail,pw,name,phone)
        values
        (#{userEmail},#{pw},#{name},#{phone});
    </insert>
    
    <insert id ="insertSnsMember">
    insert into tbl_user (userEmail,name)
        values
        (#{userEmail},#{name});
    </insert>
    
    <select id ="modifyUser" resultType ="UserDTO">
    	update tbl_user
    	where userEmail = #{userEmail}
    	set pw = ${pw};
    </select>
    
    <select id ="countUser" resultType="int">
    	select count(*) from tbl_user
    	where userEmail = #{userEmail};
    </select>

    <select id = "searchUserEmail" resultType="UserDTO">
        select userEmail from tbl_user
        where userEmail = #{userEmail};
    </select>
    
    <select id ="selectMember" resultType="UserDTO">
        select userEmail,name,score
        from tbl_user
        where userEmail = #{userEmail};
    </select>

    <select id = "login" resultType ="UserDTO">
        select userEmail,name,score
        from tbl_user
        where userEmail = #{userEmail} and pw = #{pw};
    </select>

</mapper>
