<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- insert, update 시 NULL허용 컬럼에 NULL값 데이터 들어갈 수 있도록 설정 -->
    <settings>
        <setting name="cacheEnabled" value="false" />
        <setting name="jdbcTypeForNull" value="NULL" />
    </settings>

    <!-- domain에 대해서 별칭을 지정해 준다 -->
    <typeAliases>
        <typeAlias alias="UserDTO" type = "com.deathmatch.genius.domain.UserDTO"/>
        <typeAlias alias="UnionCardDTO" type="com.deathmatch.genius.domain.UnionCardDTO"/>
   		<typeAlias alias="IndianCardDTO" type="com.deathmatch.genius.domain.IndianCardDTO"/>
    	<typeAlias alias="SuggestionBoardDTO" type="com.deathmatch.genius.domain.SuggestionBoardDTO"/>
    		<typeAlias alias="SuggestionReplyDTO" type="com.deathmatch.genius.domain.SuggestionReplyDTO"/>
    </typeAliases>

</configuration>
