#game{
	width: 800px;
    height: 1000px;
    position: absolute;
    left:50%;
    top: 45%;
    margin-left: -400px;
    margin-top: -400px;
}

#logo{
	width:400px;
	height:auto;
}

.players{
	margin-top:20px;
}

#player1{
	width:140px;
	height:180px;
}

#player2{
	width:140px;
	height:180px;
	margin-left:50px;
}

#connectionStatus{
	width: 800px;
	height: 40px;
	color: #ECA50E;
	background-color: #3F1816;
	text-align: center;
	border: 2px solid #000000;
}

.cards{
	margin-top: 50px;
}

#card1{
	width:210px;
	height:220px;
	margin-right:250px;
}

#card2{
	margin-left:100px;
	width:210px;
	height:220px;
}

/* Message Area */
#connectionArea{
	width: 800px;
	height:30px;
	color: #CEFBC9;
	margin-top:5px;
	font-size:20px;
	text-align:center;
}

#infoArea{
	width: 800px;
	heigth:100px;
	color: #CEFBC9;
	background-color: #6D211C;
	border: 2px solid #000000;
	margin-top:10px;
}

#chatArea{
	width: 800px;
	color: #CEFBC9;
	background-color: #6D211C;
	border: 2px solid #000000;
	margin-top:10px;
}

#leave{
	width: 800px;
	height: 60px;
	font-size: 30px;
	margin-top: 30px;
	color: #ECA50E;
	background-color: #3F1816;
	text-align: center;
	border: 2px solid #000000;
}

.player{
	width: 95px;
	height: 40px;
	margin: 0;
	padding: 0;
	color: #CEFBC9;
	background-color: #3F1816;
	text-align: center;
	border: 2px solid #000000;
}

.score{
	width: 95px;
	height: 88px;
	margin: 0;
	padding: 0;
	font-size: 45px;
	color: #ECA50E;
	background-color: #6D211C;
	text-align: center;
	border: 2px solid #000000;
}

/* Player Id */
#playerId1{
	width :210px;
	height : 50px;
	text-align: center;
	border: 2px solid #000000;
	font-size: 40px;
	margin-top : 10px;
	margin-right:250px;
	background-color: #6D211C;
	color: #E4F7BA;
}

#playerId2{
	width :210px;
	height : 50px;
	text-align: center;
	border: 2px solid #000000;
	margin-top : 10px;
	font-size: 40px;
	margin-left:100px;
	background-color: #6D211C;
	color: #E4F7BA;
}

/* btn */
#readyBtn{
	width: 800px;
	height: 50px;
	background-color: #3F1816;
	color: #E4F7BA;
	border: 2px solid #000000;
	font-size: 30px;
	margin-top:15px;
	text-align: center;
}

#betBtn{
	width: 800px;
	height: 50px;
	background-color: #3F1816;
	color: #E4F7BA;
	border: 2px solid #000000;
	font-size: 30px;
	margin-top:15px;
}


/* chip */

#chipBetting{
	width:125px;
	height: 100px;
	color: #ECA50E;
	background-color: #6D211C;
	border: 2px solid #000000;
	font-size: 50px;
	margin-top:15px;
	text-align:center;
}

#chipUpBtn{
	width:100px;
	heigth:10px;
	margin-left:10px;
	background-color: #3F1816;
	color: #E4F7BA;
	border: 2px solid #000000;
	font-size: 30px;
	margin-top:15px;
}
#chipDownBtn{
	width:100px;
	heigth:10px;
	margin-top:5px;
	margin-left:10px;
	background-color: #3F1816;
	color: #E4F7BA;
	border: 2px solid #000000;
	font-size: 30px;
}

#chipAllInBtn{
	width: 250px;
	heigth:50px;
	margin-right:50px;
	background-color: #3F1816;
	color: #E4F7BA;
	border: 2px solid #000000;
	font-size: 30px;
	margin-top:15px;
}

#betGiveUpBtn{
	width: 250px;
	height: 50px;
	margin-right:50px;
	background-color: #3F1816;
	color: #E4F7BA;
	border: 2px solid #000000;
	font-size: 30px;
	margin-top:5px;
}

#betSendBtn{
	margin-left:60px;
	width: 200px;
	height:100px;
	background-color: #3F1816;
	color: #E4F7BA;
	border: 2px solid #000000;
	font-size: 30px;
	margin-top:15px;
}

#chip2{
	margin-right:100px;
	margin-left:50px;
}

#chipScore1{
	width: 120px;
	height: 68px;
	font-size: 45px;
	color: #ECA50E;
	background-color: #6D211C;
	text-align: center;
	margin-left:25px;
	border: 2px solid #000000;
}

#chipScore2{
	width: 120px;
	height: 68px;
	font-size: 45px;
	color: #ECA50E;
	background-color: #6D211C;
	text-align: center;
	border: 2px solid #000000;
}

/* betting */

#betchip1Score{
	width: 120px;
	height: 68px;
	font-size: 30px;
	color: #ECA50E;
	background-color: #6D211C;
	text-align: center;
	margin-top:15px;
	border: 2px solid #000000;
	margin-right:150px;
	margin-top:30px;
}

#betchip2Score{
	width: 120px;
	height: 68px;
	font-size: 30px;
	color: #ECA50E;
	background-color: #6D211C;
	text-align: center;
	margin-top:15px;
	border: 2px solid #000000;
	margin-top:30px;
}

#betPlayerId1{
	width :170px;
	height : 50px;
	text-align: center;
	border: 2px solid #000000;
	margin-top : 10px;
	font-size: 40px;
	margin-right:190px;
	background-color: #6D211C;
	color: #E4F7BA;
}

#betPlayerId2{
	width :170px;
	height : 50px;
	text-align: center;
	border: 2px solid #000000;
	margin-top : 10px;
	font-size: 40px;
	background-color: #6D211C;
	color: #E4F7BA;
	margin-right:80px;
}

/* chip div */

#chip1{
	width :150px;
	height : 50px;
	text-align: center;
	border: 2px solid #000000;
	margin-top : 10px;
	font-size: 30px;
	background-color: #3F1816;
	color: #E4F7BA;
}
#betChip1{
	width :150px;
	height : 50px;
	text-align: center;
	border: 2px solid #000000;
	margin-top : 10px;
	font-size: 30px;
	background-color: #3F1816;
	color: #E4F7BA;
}
#betChip2{
	width :150px;
	height : 50px;
	text-align: center;
	border: 2px solid #000000;
	margin-top : 10px;
	font-size: 30px;
	margin-left:50px;
	background-color: #3F1816;
	color: #E4F7BA;
}

#chip2{
	width :150px;
	height : 50px;
	text-align: center;
	border: 2px solid #000000;
	margin-top : 10px;
	font-size: 30px;
	background-color: #3F1816;
	color: #E4F7BA;
}
#chipDiv2{
	margin-left:50px;
}

#betDiv2{
	margin-left:50px;
}

.chipDiv{
	width:200px;
	margin-top:20px;
}
/*Img */

#chip1Img{
	width:150px;
	height:150px;
}

#chip2Img{
	width:150px;
	height:150px;
}

#betchip1Img{
	width:120px;
	height:120px;
}
#betchip2Img{
	width:120px;
	height:120px;
}


/* flex - box */

#player-flex{
	display:flex;
	width: 800px;
	overflow: auto;
	justify-content: center;
}

#game-flex{
	display:flex;
	width: 680px;
	justify-content: center;
	overflow: auto;
}

.card-flex{
	display: flex;
	width: 800px;
	justify-content: center;
	overflow: auto;
}

.indian-flex{
	display : flex;
	width: 800px;
	justify-content: center;
	overflow: auto;
}



