#game{
	width: 3000px;
	/*width: 1000px */
    height: 1000px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -290px;
    margin-top: -400px;
}

#logo{
	width:300px;
	height:auto;
}

.players{
	margin-top:20px;
}

#prev_player1{
	width:200px;
	height:180px;
}

#prev_player2{
	width:200px;
	heigth:180px;
}

#player1{
	width:130px;
	height:180px;
}

#player2{
	width:130px;
	height:180px;
	margin-left:50px;
}

#player-flex{
	display:flex;
	width: 1600px;
	overflow: auto;
}

#game-flex{
	display:flex;
	width: 2000px;
	overflow: auto;
}

#card-flex{
	display:flex;
	width: 800px;
	justify-content: center;
	overflow: auto;
}

#connectionStatus{
	width: 375px;
	height: 40px;
	color: #ECA50E;
	background-color: #3F1816;
	text-align: center;
	border: 2px solid #000000;
}

.cards{
	margin-top: 50px;
}

#card1{
	width:230px;
	height:210px;
	margin-right:50px;
}

#card2{
	width:230px;
	height:210px;
	margin-left:50px;
	margin-right:230px;
}

/* Message Area */
#connectionArea{
	width: 235px;
	height:30px;
	color: #CEFBC9;
	margin-top:5px;
	font-size:20px;
	text-align:center;
}

#infoArea{
	width: 570px;
	color: #CEFBC9;
	background-color: #6D211C;
	border: 2px solid #000000;
	margin-top:10px;
}

#chatArea{
	width: 570px;
	color: #CEFBC9;
	background-color: #6D211C;
	border: 2px solid #000000;
	margin-top:10px;
}

#leave{
	width: 570px;
	height: 60px;
	font-size: 30px;
	margin-top: 30px;
	color: #ECA50E;
	background-color: #3F1816;
	text-align: center;
	border: 2px solid #000000;
}

.indian-flex{
	display : flex;
	width: 570px;
	justify-content: center;
	overflow: auto;
}

.player{
	width: 95px;
	height: 40px;
	margin: 0;
	padding: 0;
	color: #CEFBC9;
	background-color: #3F1816;
	text-align: center;
	border: 2px solid #000000;
}

.score{
	width: 95px;
	height: 88px;
	margin: 0;
	padding: 0;
	font-size: 45px;
	color: #ECA50E;
	background-color: #6D211C;
	text-align: center;
	border: 2px solid #000000;
}

/* Player Id */
#playerId1{
	width :130px;
	height : 50px;
	background-color: #6D211C;
	text-align: center;
	border: 2px solid #000000;
	margin-top : 10px;
	margin-right:175px;
	margin-left: 70px;
	font-size: 30px;
	color: #E4F7BA;
}

#playerId2{
	width :130px;
	height : 50px;
	background-color: #6D211C;
	text-align: center;
	margin-right:70px;
	border: 2px solid #000000;
	margin-top : 10px;
	font-size: 30px;
	color: #E4F7BA;
}

/* btn */
#readyBtn{
	width: 200px;
	height: 50px;
	background-color: #3F1816;
	color: #E4F7BA;
	border: 2px solid #000000;
	font-size: 30px;
	margin-top:15px;
	text-align: center;
	margin-left:190px;
}

#betBtn{
	width: 200px;
	height: 50px;
	background-color: #3F1816;
	color: #E4F7BA;
	border: 2px solid #000000;
	font-size: 30px;
	margin-left:190px;
	margin-top:15px;
}

#betGiveUpBtn{
	width: 200px;
	height: 50px;
	background-color: #3F1816;
	color: #E4F7BA;
	border: 2px solid #000000;
	font-size: 30px;
	margin-left:190px;
	margin-top:15px;
}

/* chip */

#chipBetting{
	width:150px;
	height: 50px;
	background-color: #3F1816;
	color: #E4F7BA;
	border: 2px solid #000000;
	font-size: 30px;
	margin-left:190px;
	margin-top:15px;
	text-align:center;
}

#chipUpBtn{
	width:40px;
	heigth:50px;
	background-color: #3F1816;
	color: #E4F7BA;
	border: 2px solid #000000;
	font-size: 30px;
}
#chipDownBtn{
	width:40px;
	heigth:50px;
	background-color: #3F1816;
	color: #E4F7BA;
	border: 2px solid #000000;
	font-size: 30px;
}

#chipResetBtn{
	width:40px;
	heigth:50px;
	background-color: #3F1816;
	color: #E4F7BA;
	border: 2px solid #000000;
	font-size: 30px;
}

#chipAllInBtn{
	width:120px;
	heigth:50px;
	background-color: #3F1816;
	color: #E4F7BA;
	border: 2px solid #000000;
	font-size: 30px;
}

#chip1Img{
	width:150px;
	height:150px;
}

#chip2Img{
	width:150px;
	height:150px;
}

#chipScore1{
	width: 95px;
	height: 68px;
	font-size: 45px;
	color: #ECA50E;
	background-color: #6D211C;
	text-align: center;
	margin-left:25px;
	border: 2px solid #000000;
}

#chipScore2{
	width: 95px;
	height: 68px;
	font-size: 45px;
	color: #ECA50E;
	background-color: #6D211C;
	text-align: center;
	margin-left:25px;
	border: 2px solid #000000;
}

#battingArea{
	width: 350px;
	color: #CEFBC9;
	background-color: #6D211C;
	border: 2px solid #000000;
	margin-top:10px;
	margin-right:50px;
}




